body {
  font-family: 'SF Pro Text', 'Roboto', sans-serif;
  background-color: #E5E5E5;
  color: #696D8C;
  padding-top: 15px;
  padding-bottom: 5px;
  /* Confirmation Screen */ }
  body header {
    text-align: center; }
  body .logo {
    text-align: center;
    color: #0C29D0;
    max-width: 100%; }
  body .subtitle {
    text-align: center;
    line-height: 31px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 37px;
    color: #312F4F; }
  body .row {
    margin-top: 24px; }
  body section {
    width: 100%;
    max-width: 80%;
    padding: 60px 70px 48px 70px;
    margin: auto;
    background: #FFFFFF;
    border: 3px solid #F2F2F2;
    box-sizing: border-box; }
  body label {
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 8px; }
  body select, body input[type=text], body input[type=email], body textarea {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #B6B9D0;
    box-sizing: border-box;
    box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 44px;
    margin-top: 8px;
    font-family: Soleil, 'Roboto';
    line-height: 26px;
    font-size: 16px;
    text-indent: 16px;
    color: #312F4F; }
    body select.success, body input[type=text].success, body input[type=email].success, body textarea.success {
      border-color: #1FE6A8;
      outline-color: #1FE6A8; }
    body select.error, body input[type=text].error, body input[type=email].error, body textarea.error {
      border-color: #F79682;
      outline-color: #F79682; }
  body textarea {
    height: 100px;
    resize: vertical; }
  body .password-strength {
    width: 32%;
    height: 8px;
    display: inline-block;
    background: #EAEAF4;
    border-radius: 10px; }
    body .password-strength.success {
      background-color: #1FE6A8; }
    body .password-strength.warning {
      background-color: #F7BC1C; }
    body .password-strength.error {
      background-color: #F79682; }
  body .btn-submit {
    height: 52px;
    background-color: #6c4999;
    font-weight: 600;
    width: 100%;
    border: none;
    line-height: 26px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF; }
    body .btn-submit:disabled {
      opacity: 0.5; }
    body .btn-submit:focus {
      outline-color: #6c4999;
      outline-offset: 1px;
      outline-width: 1px;
      outline-style: solid; }
    body .btn-submit:hover:not([disabled]) {
      background-color: #6b2d6d;
      cursor: pointer; }
    body .btn-submit:active:not([disabled]) {
      background-color: #472f65; }
  body ul.list-password {
    padding-left: 0px;
    list-style: none; }
    body ul.list-password span {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: #EAEAF4;
      display: inline-block;
      margin-right: 8px; }
      body ul.list-password span.success {
        background-color: #1FE6A8; }
      body ul.list-password span.error {
        background-color: #F79682; }
  body .ellipse {
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transform: scale(0.4);
    display: none; }
    body .ellipse.e2 {
      animation-delay: 0.15s; }
    body .ellipse.e3 {
      animation-delay: 0.3s; }
  body .btn-submit.loading .lbl-criar-conta {
    display: none; }
  body .btn-submit.loading .ellipse {
    animation-duration: 0.45s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name: animate;
    animation-timing-function: ease-in-out;
    display: inline-block; }
  body .confirmation {
    text-align: center;
    margin: 30px 30px; }
    body .confirmation .subtitle {
      margin-bottom: 21px;
      margin-top: 16px; }
    body .confirmation img.checked {
      border: 3px solid #17D499;
      border-radius: 50%;
      padding: 29px 24px 26px 24px;
      width: 35px;
      height: 26px; }
    body .confirmation span {
      line-height: 26px;
      font-size: 16px;
      color: #312F4F; }
  body ul {
    list-style: none;
    padding-left: 0px; }
  body .required {
    color: red; }
  body .mr-15 {
    margin-right: 15px; }
  body .notas {
    display: flex;
    flex-wrap: wrap; }
  body .contact-title {
    font-weight: 500;
    color: #312F4F;
    font-size: large;
    margin-bottom: 0px;
    margin-top: 0px; }
  body .flex {
    display: flex;
    flex-wrap: wrap; }
    body .flex small {
      width: 100%;
      margin-bottom: 10px;
      font-weight: 600;
      color: #312F4F; }
  body .half-col {
    width: calc(50% - 5px); }
    body .half-col:nth-child(2n) {
      margin-right: 5px; }
    body .half-col:nth-child(2n+1) {
      margin-left: 5px; }
  body article {
    margin-bottom: 40px; }
    body article label {
      line-height: initial;
      font-size: 0.85em; }
    body article .row {
      margin-top: 12px; }
      body article .row select, body article .row input[type=text], body article .row input[type=email] {
        height: 36px; }

@media screen and (max-width: 540px) {
  body {
    padding-top: initial; }
    body section {
      max-width: 100%;
      padding: 15px; }
      body section .subtitle {
        font-size: 18px; }
  .half-col {
    width: 100% !important; }
    .half-col:nth-child(2n) {
      margin-right: initial !important; }
    .half-col:nth-child(2n+1) {
      margin-left: initial !important;
      margin-top: 10px; } }

@keyframes animate {
  0% {
    transform: scale(0.4); }
  100% {
    transform: scale(1); } }

